@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
	background: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQZ5PyJo0gheb57R_tbIl1as8eJhOjnIuAfoduYHT1cocR0HZQE') fixed;
	text-align: center;
	font-family: 'Slabo 27px', sans-serif;
	color:lime;

}
#letterfield{
	font-size: 40px;
}